{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>BelPart - Запчасти Белгород</title>
	<meta name="description"
	      content="BelPart - магазин автозапчастей в Белгороде. Широкий ассортимент оригинальных и неоригинальных запчастей для автомобилей с авторазборок.">
	<meta name="keywords"
	      content="запчасти, автозапчасти, запчасти для автомобилей, авторазборки, Белгород, магазин запчастей, купить запчасти, оригинальные запчасти, неоригинальные запчасти">

	{% bootstrap_css %}
	{% bootstrap_javascript jquery='full' %}
	<!-- Подключение Bootstrap Icons-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">
	<link href="{% static 'icon48.ico' %}" rel="icon" type="image/x-icon">
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body class="custom-font">

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
	<a class="navbar-brand" href='#'>
		<img src="{% static 'icon.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
		BelPart </a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
	        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="{% url 'AppParts:marks_view' %}">
					<i class="bi bi-gear"></i> Подбор запчасти
				</a>
			</li>
			<li class="nav-item dropdown-center">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
				   aria-haspopup="true" aria-expanded="false">
					<i class="bi bi-tag"></i> Каталог
				</a>

				<div class="dropdown-menu w-100 mt-0" aria-labelledby="navbarDropdown">
					<div class="row mx-0">
						<div class="col-md-6">
							<h4 class="dropdown-header text-center">Категории</h4>
							<ul class="list-unstyled">
								{% for category in categories %}
									{% if forloop.first %}
										<li><a class="dropdown-item" href="#"
										       data-category="{{ category.category_id }}">{{ category.category_name }}</a>
										</li>
									{% else %}
										<li><a class="dropdown-item" href="#"
										       data-category="{{ category.category_id }}">{{ category.category_name }}</a>
										</li>
									{% endif %}
								{% endfor %}
							</ul>
						</div>
						<div class="col-md-6">
							<h4 class="dropdown-header text-center">Подкатегории</h4>
							<div id="subcategory-container">
								<!-- Здесь будут отображаться подкатегории -->
							</div>
						</div>
					</div>
				</div>

			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'AppParts:disassembly' %}">
					<i class="bi bi-tools"></i> Разборки
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'AppParts:contact' %}">
					<i class="bi bi-person"></i> Контакты
				</a>
			</li>
		</ul>
	</div>
</nav>

<div class="container-fluid mt-3 mb-3">
	<form class="form my-2 my-lg-0 order-lg-2 ml-lg-auto" method="get" action="{% url 'AppParts:parts_search' %}">
		<div class="input-group">
			{% block early_page %}
				<div class="input-group-append">
					<a href="{% url 'AppParts:marks_view' %}" class="btn btn-danger shadow-none rounded-left">
						<i class="bi bi-arrow-left-square"> {{ mark.mark_name }}</i>
					</a>
				</div>
			{% endblock %}
			<input class="form-control shadow-none" type="text" id="searchInput" name="search_query"
			       placeholder="Поиск по артикулу, наименованию или описанию" required>
			<div class="input-group-append">
				<button class="btn btn-outline-success rounded-right" type="submit">
					<i class="bi bi-search"></i>
				</button>
			</div>
		</div>
	</form>
</div>

<div class="container-fluid">
	{% block content %}{% endblock %}
</div>

<!-- Подвал -->
<div class="container-fluid bg-dark text-light footer">
	<div class="row">
		<div class="col-sm-6 col-12 py-3">
			<h5>Карта сайта:</h5>
			<a href="{% url 'AppParts:marks_view' %}" class="text-light text-decoration-none"><i class="bi bi-gear"></i>
				Подбор
				запчасти</a><br>
			<a href="#" class="text-light text-decoration-none"><i class="bi bi-tag"></i> Каталог</a><br>
			<a href="{% url 'AppParts:disassembly' %}" class="text-light text-decoration-none"><i
					class="bi bi-tools"></i> Разборки</a><br>
			<a href="{% url 'AppParts:contact' %}" class="text-light text-decoration-none"><i class="bi bi-person"></i>
				Контакты</a><br>
		</div>
		<div class="col-sm-6 col-12 pt-sm-3 text-sm-right">
			<h5>Контактная информация:</h5>
			<p class="mb-1"><i class="bi bi-envelope"></i> Почта: vova2001170256@gmail.com</p>
			<p class="mb-1"><i class="bi bi-phone"></i> Владимир: <a class="text-light" href="tel:+79517648363">+7 951
				764 83 63</a></p>
			<p class="mb-1"><i class="bi bi-phone"></i> Алексей: <a class="text-light" href="tel:+79517639542">+7 951
				763 95 42</a></p>
			<p class="mb-1"><i class="bi bi-chat-square-dots"></i> Мы в Telegram: <a class="text-light"
			                                                                         href="https://t.me/Vova_00117">@Vova_00117</a>
			</p>
		</div>
	</div>
</div>


<script>
    $(document).ready(function () {
        // Предотвращаем закрытие меню при клике на категорию или подкатегорию
        $('.dropdown-menu').click(function (e) {
            e.stopPropagation();
        });

        // Отправка AJAX-запроса при клике на категорию
        $('.dropdown-item').click(function (e) {
            e.preventDefault();
            let categoryId = $(this).data('category');
            console.log('Category ID:', categoryId); // Отладочное сообщение
            console.log('Data attribute:', $(this).attr('data-category')); // Дополнительное отладочное сообщение
            console.log('Clicked item:', $(this).text()); // Дополнительное отладочное сообщение
            $.ajax({
                url: '/get_subcategories_nav/',
                type: 'GET',
                data: {'category_id': categoryId},
                success: function (response) {
                    // Очищаем контейнер перед добавлением новых подкатегорий
                    $('#subcategory-container').empty();

                    // Добавляем каждую подкатегорию в контейнер
                    response.subcategories.forEach(function (subcategory) {
                        $('#subcategory-container').append('<a class="dropdown-item" href="/catalog/' + subcategory.id + '">' + subcategory.name + '</a>');
                    });
                }
            });
        });
    });
</script>

<script>
    let arrow = document.createElement('div');
    arrow.innerHTML = '<i class="bi bi-arrow-up-square"></i>';
    arrow.style.position = 'fixed';
    arrow.style.bottom = '20px';
    arrow.style.right = '20px';
    arrow.style.fontSize = '30px';
    arrow.style.cursor = 'pointer';
    arrow.style.opacity = '0'; // Начальное значение прозрачности
    arrow.style.transition = 'opacity 0.5s ease'; // Плавная анимация изменения прозрачности
    document.body.appendChild(arrow);

    window.addEventListener('scroll', function() {
        // Получаем текущую позицию прокрутки страницы
        let scrollTop = window.pageYOffset || document.documentElement.scrollTop;
        let scrollHeight = document.documentElement.scrollHeight;
        let clientHeight = document.documentElement.clientHeight;

        // Если пользователь близко к началу или концу страницы, показываем стрелку с плавным появлением
        if (scrollTop > 100 && (scrollHeight - scrollTop - clientHeight) > 100) {
            arrow.style.opacity = '1';
        } else {
            arrow.style.opacity = '0';
        }
    });

    // Добавляем обработчик события клика на стрелку
    arrow.addEventListener('click', function() {
        // Плавно скроллим страницу вверх
        window.scrollTo({
            top: 0,
            behavior: 'smooth' // Включаем плавный скролл
        });
    });
</script>

</body>
</html>
