{% extends 'AppParts/base.html' %}
{% block content %}

	<div class="d-flex align-items-center mb-3">
		<a href="{% url 'AppParts:marks_view' %}" class="btn btn-danger mr-2 shadow-none">
			<i class="bi bi-arrow-left-square"></i>
		</a>
		<button class="navbar-toggler btn bg-dark text-light shadow-none" type="button" data-toggle="collapse"
		        data-target="#accordion" aria-controls="accordion" aria-expanded="false" aria-label="Toggle accordion">
			<h4 class="mb-0">{{ subcategories.subcategory_name }}</h4>
		</button>
	</div>


	<div class="row">
		<div class="col-xl-2 col-md-4 col-12 mb-3">
			<div class="accordion" id="accordion">
				{% for mark in marks %}
					<div class="card bg-dark text-light">
						<div class="card-header" id="heading{{ mark.mark_id }}">
							<h3 class="text-center mb-0">
								<button class="btn shadow-none text-light" data-toggle="collapse"
								        data-target="#collapse{{ mark.mark_id }}" aria-expanded="true"
								        aria-controls="collapse{{ mark.mark_id }}">
									{{ mark.mark_name }}
								</button>
							</h3>
						</div>

						<div id="collapse{{ mark.mark_id }}" class="collapse"
						     aria-labelledby="heading{{ mark.mark_id }}" data-parent="#accordion">
							<div class="card-body">
								{% for model in models %}
									{% if model.mark == mark %}
										<div class="form-check">
											<input type="radio" name="model"
											       value="{{ model.model_id }}"
											       id="model_{{ model.model_id }}"
											       class="model-radio form-check-input"
											       data-model-id="{{ model.model_id }}">
											<label for="model_{{ model.model_id }}"
											       class="model-label form-check-label">{{ model.model_name }}</label>
										</div>
									{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>


		<div class="col-xl-10 col-md-8 col-12 mb-3">
			{# Вывод запчастей для каждой подкатегории или всех, если страница загружена #}
			<div id="part-container"></div>
			{# Вывод запчастей для каждой подкатегории или всех, если страница загружена #}
		</div>
	</div>


	<script>
        $(document).ready(function () {
            let selectedModel = null;  // Добавлено здесь

            // Определение функции для загрузки запчастей
            function loadParts(page) {
                $.ajax({
                    type: "GET",
                    url: "{% url 'AppParts:get_parts' %}",
                    headers: {'X-CSRFToken': '{{ csrf_token }}'}, {#???#}
                    data: {'model': selectedModel, 'page': page, 'subcategory_id': {{ subcategories.subcategory_id }}},
                    success: function (data) {
                        $("#part-container").html(data.parts_html);

                        // Подключаем обработчик для новых элементов на странице
                        attachHandlers();
                    },

                    error: function (xhr, textStatus, errorThrown) {
                        console.error("Error fetching parts:", errorThrown);
                    }
                });
            }

            // Загрузка деталей при загрузке страницы
            loadParts(1);

            // Обработчик для выбора подкатегории
            $(".model-radio").change(function () {
                selectedModel = $(this).val();  // Изменено здесь

                // Загрузка деталей для выбранной подкатегории
                loadParts(1);
            });

            // Обработчик для навигации по страницам
            function attachHandlers() {
                $(".pagination a").on("click", function (e) {
                    e.preventDefault();
                    let page = $(this).attr("href").split("=").pop();
                    loadParts(page);
                });
            }

            // Первоначальная подписка на обработчик
            attachHandlers();
        });

	</script>

{% endblock %}