{% extends 'AppParts/base.html' %}
{% block content %}

	<div class="row">
		<div class="col-xl-2 col-md-4 col-12 mb-3">
			<div class="accordion" id="accordion">
				{% for mark in marks %}
					<div class="card bg-dark text-light">
						<div class="card-header" id="heading{{ mark.mark_id }}">
							<h3 class="text-center mb-0">
								<button class="btn shadow-none text-light" data-toggle="collapse"
								        data-target="#collapse{{ mark.mark_id }}" aria-expanded="true"
								        aria-controls="collapse{{ mark.mark_id }}">
									{{ mark.mark_name }}
								</button>
							</h3>
						</div>

						<div id="collapse{{ mark.mark_id }}" class="collapse"
						     aria-labelledby="heading{{ mark.mark_id }}" data-parent="#accordion">
							<div class="card-body">
								{% for model in models %}
									{% if model.mark == mark %}
										<div class="form-check">
											<input type="radio" name="model"
											       value="{{ model.model_id }}"
											       id="model_{{ model.model_id }}"
											       class="model-radio form-check-input"
											       data-model-id="{{ model.model_id }}">
											<label for="model_{{ model.model_id }}"
											       class="model-label form-check-label">{{ model.model_name }}</label>
										</div>
									{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>


		<div class="col-xl-10 col-md-8 col-12 mb-3">
			<div class="col-12 mb-3 px-0">
				<button id="navbar-toggler" class="accordion-button navbar-toggler btn bg-dark text-light shadow-none" type="button"
				        data-toggle="collapse"
				        data-target="#accordion" aria-controls="accordion" aria-expanded="false"
				        aria-label="Toggle accordion">
					<h4 class="mb-0">{{ subcategories.subcategory_name }}</h4>
				</button>
				<div class="btn-group" role="group" aria-label="Sort">
					<button class="btn btn-primary dropdown-toggle shadow-none" type="button" data-toggle="dropdown"
					        aria-haspopup="true" aria-expanded="false">Сортировка
					</button>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="?sort=price_asc">Цена: от меньшей к большей</a>
						<a class="dropdown-item" href="?sort=price_desc">Цена: от большей к меньшей</a>
						<a class="dropdown-item" href="?sort=name_asc">По алфавиту: A-Z</a>
						<a class="dropdown-item" href="?sort=name_desc">По алфавиту: Z-A</a>
					</div>
				</div>
			</div>
			{# Вывод запчастей для каждой подкатегории или всех, если страница загружена #}
			<div id="part-container"></div>
			{# Вывод запчастей для каждой подкатегории или всех, если страница загружена #}
		</div>
	</div>

	<script>
        $(document).ready(function () {
            let selectedModel = null;
            let sort = null
            $(".accordion-button").trigger("click");

            // Определение функции для загрузки запчастей
            function loadParts(page) {
                $.ajax({
                    type: "GET",
                    url: "{% url 'AppParts:get_parts' %}",
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    data: {
                        'model': selectedModel,
                        'page': page,
                        'subcategory_id': {{ subcategories.subcategory_id }},
                        'sort': sort
                    },
                    success: function (data) {
                        $("#part-container").html(data.parts_html);
                        attachHandlers(); // Подключаем обработчик для новых элементов на странице
                        $('.form-check').on('click', function () {
                            if (window.matchMedia("(max-width: 767px)").matches) {
                                $(".accordion-button").trigger("click");
                            }
                        });
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.error("Error fetching parts:", errorThrown);
                    }
                });
            }

            // Обработчик для выбора модели
            $(".model-radio").change(function () {
                selectedModel = $(this).val();
                loadParts(1);
            });

            // Обработчик для выбора сортировки
            $(".btn-group a").on("click", function (e) {
                e.preventDefault();
                $(".btn-group a").removeClass("active"); // Удаляем класс active у всех кнопок
                $(this).addClass("active"); // Добавляем класс active только выбранной кнопке
                sort = $(this).attr("href").split("=").pop(); // Получаем значение сортировки из href выбранной кнопки
                loadParts(1); // Загружаем запчасти с новой сортировкой
            });

            // Обработчик для навигации по страницам
            function attachHandlers() {
                $(".pagination a").on("click", function (e) {
                    e.preventDefault();
                    let page = $(this).attr("href").split("=").pop();
                    loadParts(page);
                });
            }

            // Загрузка деталей при загрузке страницы
            loadParts(1);

            // Отключение аккордеона
            window.onload = function () {
                let navbarToggler = document.getElementById("navbar-toggler");
                if (window.innerWidth > 768) {
                    navbarToggler.setAttribute("disabled", "true");
                    {#navbarToggler.style.display = 'none';#}
                }
            };
        });

	</script>

{% endblock %}