@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/Nunito-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body.custom-font {
    font-family: 'Nunito', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer {
    margin-top: auto;
}

a {
    text-decoration: none !important;
}

/*.scroll-to-top {*/
/*    position: fixed;*/
/*    bottom: 20px;*/
/*    right: 20px;*/
/*    opacity: 0;*/
/*    visibility: hidden;*/
/*    transition: opacity 0.4s ease, visibility 0.4s ease;*/
/*    background-color: #ffffff;*/
/*    border: 1px solid #cccccc;*/
/*    border-radius: 20%;*/
/*}*/

/*.scroll-to-top .btn {*/
/*    border: none;*/
/*}*/
